<!--<div class="mainContainer">
  <div style="margin-bottom: 30%">
    <p style="font-size: larger;font-weight: bolder;">{{project.name}}</p>
  </div>
  <div style="margin-bottom: 10%">
    <span style="margin-right: 5%"> Status :</span><i class="pi pi-circle-on" [style]="project.status?'color:green':'color:red'"></i>
  </div>
</div> -->
<p-card [style]="{'background': 'rgb(174, 254, 255)','box-shadow': '0px 0px 9px 3px'}" header="{{project.name}}">
  <ng-template pTemplate="footer">
    <span style="margin-right: 5%"> Status :</span><i class="pi pi-circle-on"
                                                      [style]="project.status?'color:green':'color:red'"></i>
  </ng-template>
</p-card>

