<script src="../controller/services/taches.service.ts"></script>


<div class="col-md-6 mx-5">
  <button pButton pRipple (click)="showModalDialog()" type="button" icon="pi pi-plus" label="Create Task" class="p-button-raised p-button-success"></button>
  Select a Ticket : <p-dropdown (onChange)="onChange()" [options]="tickets" [(ngModel)]="selectedTicket" placeholder="Select a City" optionLabel="name"></p-dropdown>
</div>
<div class="col-md-12 mx-5">
<div class="example-container">
  <h2>To do</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doingList,doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item }}<p-button (click)="deleteTask(item)">delete</p-button></div>

  </div>
</div>
<div class="example-container">
  <h2>Doing</h2>

  <div
    cdkDropList
    #doingList="cdkDropList"
    [cdkDropListData]="doing"
    [cdkDropListConnectedTo]="[doneList,todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of doing" cdkDrag>{{item}}<p-button (click)="deleteTask(item)">delete</p-button></div>
  </div>
</div>
<div class="example-container">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList,doingList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}<p-button (click)="deleteTask(item)">delete</p-button></div>
  </div>
</div>
</div>
<p-dialog header="New Project" [(visible)]="displayModal" [modal]="true" [style]="{width: '70vw'}"
          [draggable]="false" [resizable]="false">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <label>Name </label>
      </div>
      <div class="row">
        <input class="col-md-12" type="text" pInputText [(ngModel)]="task.name">
      </div>
      <div class="row">
        <label style="margin-right : 2%">Ticket</label>
      </div>
      <div class="row">
        <p-dropdown [options]="tickets" [(ngModel)]="selectedTicket" placeholder="Select a Ticket" optionLabel="name" [showClear]="true"></p-dropdown>
      </div>
      <div class="row">
        <h5>Description</h5>
      </div>
      <div class="row">
        <textarea [(ngModel)]="task.description" rows="15" cols="30" pInputTextarea></textarea>
      </div>
    </div>

  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="newTaskClick()" label="Create Task" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
