.th {
  background-color: #272B34;
}

.singleProject {
  /* border: 1px solid black; */
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  /* border-radius: 10%; */
  /*  min-width: 250px; */
}

